<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">

    <!-- Start of Card Component -->
<!--    <div class="bg-white shadow-lg rounded-lg overflow-hidden">-->
<!--      <div class="bg-cover bg-center h-56 p-4" style="background-image: url('https://picsum.photos/200')">-->
<!--        <div class="flex justify-end">-->
<!--          <svg class="h-6 w-6 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">-->
<!--            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>-->
<!--          </svg>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="p-4">-->
<!--        <p class="uppercase tracking-wide text-sm font-bold text-gray-700">Modern Home in City Center</p>-->
<!--        <p class="text-3xl text-gray-900">240€/night</p>-->
<!--        <p class="text-gray-700">4 lits</p>-->
<!--      </div>-->
<!--      <div class="flex p-4 border-t border-gray-300 text-gray-700">-->
<!--        <div class="flex-1 inline-flex items-center">-->
<!--          <img class="h-6 w-6 rounded-full" src="https://picsum.photos/200" alt="">-->
<!--          <p class="ml-2">Votre hôte : Kevin</p>-->
<!--        </div>-->
<!--        <div class="flex-1 inline-flex items-center">-->
<!--          <svg class="h-6 w-6 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">-->
<!--            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>-->
<!--          </svg>-->
<!--          <p class="ml-2">4.96 (241 reviews)</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <!-- End of Card Component -->


    @for (bien of biens; track bien.mailProprio) {

      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="bg-cover bg-center h-56 p-4" style="background-image: url('https://picsum.photos/200')">
          <div class="flex justify-end">
            <svg class="h-6 w-6 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
            </svg>
          </div>
        </div>
        <div class="p-4">
          <p class="uppercase tracking-wide text-sm font-bold text-gray-700">{{ bien.commune }}</p>
          <p class="text-3xl text-gray-900">{{ bien.prix }}€/nuit</p>
          <p class="text-gray-700">{{ bien.nbCouchages }} lits - {{ bien.nbChambres}} chambre(s)</p>
        </div>
        <div class="flex p-4 border-t border-gray-300 text-gray-700">
          <div class="flex-1 inline-flex items-center">
            <img class="h-6 w-6 rounded-full" src="https://picsum.photos/200" alt="">
            <p class="ml-2">Votre hôte : {{ bien.user.nom }} {{ bien.user['prénom'] }}</p>
          </div>
          <div class="flex-1 inline-flex items-center">
            <p class="ml-2">{{ bien.avis?.moyenneDesAvis}}</p>
            <svg class="h-6 w-6 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
            </svg>

          </div>
        </div>
      </div>

    }

  </div>
</div>
